.lgCss{
    text-align: center;
    margin-top: 100px;
    font-size:xx-large;
    color:Yellow;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-bottom: 150px;
}
body{
    background-image: url("../view/images/Tio_Luncin.png");
	background-repeat:no-repeat;
	background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color:honeydew;
}
input{
    width: 40%;
    height: 50px;
    background-color: #3CBC8D;
    border-radius: 15px;
    margin: 5px;
}
input::placeholder{
    font-size: x-large;
    color:white;
  }
.inputStyle{
    font-size: x-large;
    color: white;
    font-weight: bold;
}
.styleSubmit{
    width: 20%;
    background-color: red;
    color: white;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

